.btn_components {
  width: 100%;

  display: flex;
  align-items: center;
  gap: 14px;
}

.btn_components > button {
  flex: 1;

  background-color: rgb(79 70 229);
  color: white;
  font-family: "Nunito Sans", serif;
  border-radius: 0.375rem;
  padding: 0.5rem 1rem;
  border: none;
}

.btn_components > a {
  flex: 1;

  text-align: center;
  text-decoration: none;
  background-color: rgb(79 70 229);
  color: white;
  font-family: "Nunito Sans", serif;
  border-radius: 0.375rem;
  padding: 0.5rem 1rem;
  border: none;
}

.btn_components > button:hover {
  background-color: rgb(55 48 163);
}

.btn_components > a:hover {
  background-color: rgb(55 48 163);
}

.search_params {
  margin-top: 20px;
  display: flex;
}

.search_params > input {
  flex: 1;
  border-radius: 0.5rem;
  background-color: white;
  padding: 10px 12px;
  outline: 2px solid transparent;
  border: 1px solid gray;

  font-size: 18px;
}

.search_params > input:focus {
  outline: 2px solid rgb(79 70 229);
}

.card_container {
  margin-top: 20px;
}
