@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* outline: none; */
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
  background-color: transparent;
}

.container {
  max-width: 1152px;
  width: 100vw;
  margin: 0 auto;
  padding: 20px 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Nunito Sans", serif;
  font-weight: normal;
}

body {
  background-color: rgb(229 231 235);
}

::placeholder {
  font-family: "Nunito Sans", serif;
  font-size: 18px;
  font-weight: normal;
}

button {
  font-family: "Nunito Sans", serif;
  font-size: 18px;
}

li {
  font-family: "Nunito Sans", serif;
  font-size: 18px;
}

@media (max-width: 1000px) {
  /* .container {
    width: 80vw;
  } */
}
