@import "../../../globals.css";

.logo {
  margin-top: 24px;
  border-radius: 18px;
  background-color: #0c5c3f;
  padding: 40px;

  display: flex;
  justify-content: center;
  align-content: center;
  box-shadow: 0 10px 15px -3px #0000001a, 0 4px 6px -4px #0000001a;
}

.logo img {
  width: 70%;
}

.form {
  display: flex;
  flex-direction: column;

  margin-top: 28px;
  padding: 28px;
  border-radius: 18px;
  background-color: white;
  box-shadow: 0 10px 15px -3px #0000001a, 0 4px 6px -4px #0000001a;
}

.form input {
  font-family: "Nunito Sans", serif;
  font-size: 18px;

  margin-top: 6px;
  width: 100%;
  border-radius: 0.5rem;
  padding: 10px 12px;
  border: 0.8px solid gray;
}

.form input:focus {
  outline: 1px solid rgb(79 70 229);
}

.formGroup {
  margin-top: 24px;
  width: 100%;
}

.formGroup p {
  font-family: "Nunito Sans", serif;
  font-size: 18px;
}

.btn_send_form {
  margin-top: 18px;
}

.btn_send_form > button {
  padding: 0.5rem 1rem;
  border-radius: 0.375rem;
  border: none;
  background-color: rgb(79 70 229);
  color: white;
  cursor: pointer;
}

.error_message {
  color: red;
  font-family: "Nunito Sans", serif;
  font-weight: 200;
  font-size: 18px;
}

.signup {
  margin-top: 28px;
  font-family: "Nunito Sans", serif;
  font-size: 20px;
  font-weight: 400;
}

.signup a {
  color: rgb(79 70 229);
}

@media (max-width: 1000px) {
  .logo {
    margin-top: 18px;
    border-radius: 28px;
    padding: 30px;
  }

  .logo img {
    width: 86%;
  }
}

@media (max-width: 690px) {
  .logo img {
    width: 100%;
  }
}
